.project-card a {
    display: inline-block;
    background-color: #00ccff;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.project-card a:hover {
    background-color: #00aacc;
}

.btn-curriculo {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #0077b5;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.btn-curriculo:hover {
    background: #005582;
}